In [2]:
#add
x = {'alex','olga','kate'}
x.add('anna')
x

{'alex', 'anna', 'kate', 'olga'}

In [3]:
#clear
c = {'emmna','mike'}
c.clear()
c

set()

In [4]:
#copy
y = x.copy()
y

{'alex', 'anna', 'kate', 'olga'}

In [5]:
#difference
x = {'alex', 'anna', 'kate', 'olga'}
y = {'alex', 'anna', 'Cat', 'olga'}
z = y.difference(x)
z

{'Cat'}

In [6]:
#difference_update ???
x = {'alex', 'anna', 'kate', 'olga'}
y = {'alex', 'anna', 'Cat', 'olga'}
x.difference_update(y)
x

{'kate'}

In [7]:
#discard
x = {'alex', 'anna', 'kate', 'olga'}
x.discard('alex')
x

{'anna', 'kate', 'olga'}

In [8]:
#intersection
x = {'alex', 'anna', 'kate', 'olga'}
y = {'alex', 'anna', 'Cat', 'olga'}
z = x.intersection(y)
z

{'alex', 'anna', 'olga'}

In [10]:
#intersection_update
x = {'alex', 'anna', 'kate', 'olga'}
y = {'alex', 'anna', 'Cat', 'olga'}
x.intersection_update(y)
x

{'alex', 'anna', 'olga'}

In [11]:
#isdisjoint
x = {'alex', 'anna', 'kate', 'olga'}
y = {'alex', 'anna', 'Cat', 'olga'}
z = x.isdisjoint(y)
z

False

In [13]:
#issubset
x = {'alex', 'anna'}
y = {'alex', 'anna'}
z = x.issubset(y)
z

True

In [14]:
#issuperset
x = {'alex', 'anna', 'set'}
y = {'alex', 'anna', 'like'}
z = x.issuperset(y)
z

False

In [26]:
#pop
x = {'ale', 'anna', 'set'}
y = x.pop()
print(x)
print(y)

{'set', 'ale'}
anna

In [15]:
#remove
x = {'alex', 'anna', 'set'}
x.remove('alex')
x

{'anna', 'set'}

In [16]:
#symmetric_difference
x = {'alex', 'anna', 'set'}
y = {'alex', 'anna', 'like'}
z = x.symmetric_difference(y)
z

{'like', 'set'}

In [17]:
#symmetric_difference_update
x = {'alex', 'anna', 'set'}
y = {'alex', 'anna', 'like'}
x.symmetric_difference_update(y)
x

{'like', 'set'}

In [18]:
#union
x = {'alex', 'anna', 'set'}
y = {'alex', 'anna', 'like'}
z = x.union(y)
z

{'alex', 'anna', 'like', 'set'}

In [19]:
#update
x = {'alex', 'anna', 'set'}
y = {'alex', 'anna', 'like'}
x.update(y)
x

{'alex', 'anna', 'like', 'set'}